<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="bgdark">
    <div class="navbar-default  navbar-fixed-top bgdark text-light">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("RealTalk", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Create a Post", "Create", "Posts")</li>
                        <li>@Html.ActionLink("My Posts", "UserPosts", "Posts")</li>
                        <li>@Html.ActionLink("Profile", "", "Manage")</li>
                    }

                    @if (User.Identity.IsAuthenticated && User.IsInRole("Moderator"))
                    {
                        <li>@Html.ActionLink("All Posts", "Index", "Posts")</li>
                        <li>@Html.ActionLink("Flagged Posts", "FlaggedPosts", "Posts")</li>
                    }
                    @*<li>@Html.ActionLink("Tags", "Index", "Tags")</li>
        <li>@Html.ActionLink("Comments", "Index", "Comments")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <!--Footer-->
        <footer class=" text-center text-light text-lg-start">
            <div class="text-center text-light p-3 bgdark">
                © 2021 Copyright:
                <a class="text-light"> FINKI</a>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
