@model IEnumerable<RealTalk.Models.Post>

@{
    ViewBag.Title = "Index";
}

<div class="text-light">
    <h2>Posts</h2>

    <p>
        <button class="btn my-2 my-sm-0" type="submit">@Html.ActionLink("Create a New Post", "Create", "Posts", null, new { @style = "color:#2E294E !important; font-weight:bold;" })</button>
        <br />
    </p>

    @*<a href="#" class="btn btn-primary" id="export-btn">Find a random post</a>
        <input type="text" id="tagName">*@

    <div class="row ">
        <table class="table text-light mt-4 ">
            <thead class="bgblue txtdark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Content)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                            @Html.ActionLink("Add a Tag", "AddTagToPost", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>